<div class="heading-background">
  <h1 id="profile-page-heading" class="page-heading">Admin Rooms</h1>
</div>

<div class="container">
  <div class="profile-box">
    <div class="profile-options">
      <button
        id="my-profile-btn"
        class="profile-option-active"
        href=""
        onclick="Admin.showUserProfile()"
      >
        Rooms
      </button>
      <button
        id="my-reservations-btn"
        class="profile-option-inactive"
        href=""
        onclick="Admin.showUserReservations()"
      >
        Reservations
        <p></p>
      </button>
    </div>

    <div class="room-container admin-rooms-container">
      <figure class="room-figure">
        <img id="room-create-image-link" alt="" src="assets/img/room-1.png" />
      </figure>
      <div class="room-main">
        <div class="room-main-info">
          <div class="room-head">
            <h2>
              <span id="room-create-name">Standard Room 4</span>
              <span id="room-id-create" class="room-id hidden">4</span>
            </h2>
            <p>
              From
              <span class="room-price">
                <span>$</span><span id="room-create-price">109</span> </span
              >/night
            </p>
          </div>
          <p id="room-create-description" class="room-description">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id hic
            repudiandae ut, fugit magni esse minima maiores doloribus possimus
            nam.
          </p>
          <div class="room-services">
            <div class="room-service">
              <ion-icon
                name="wifi-outline"
                role="img"
                class="md hydrated"
                aria-label="wifi outline"
              ></ion-icon>
              <p class="room-service-name">Wifi</p>
            </div>
            <div class="room-service">
              <ion-icon
                name="fast-food-outline"
                role="img"
                class="md hydrated"
                aria-label="fast food outline"
              ></ion-icon>
              <p class="room-service-name">Breakfast</p>
            </div>
            <div class="room-service">
              <ion-icon
                name="car-sport-outline"
                role="img"
                class="md hydrated"
                aria-label="car sport outline"
              ></ion-icon>
              <p class="room-service-name">Parking</p>
            </div>
            <div class="room-service">
              <ion-icon
                name="desktop-outline"
                role="img"
                class="md hydrated"
                aria-label="desktop outline"
              ></ion-icon>
              <p class="room-service-name">TV</p>
            </div>
            <div class="room-service">
              <ion-icon
                name="paw-outline"
                role="img"
                class="md hydrated"
                aria-label="paw outline"
              ></ion-icon>
              <p class="room-service-name">Pet free</p>
            </div>
            <div class="room-service">
              <ion-icon
                name="barbell-outline"
                role="img"
                class="md hydrated"
                aria-label="barbell outline"
              ></ion-icon>
              <p class="room-service-name">Gym</p>
            </div>
          </div>
        </div>
        <div class="flex-col-center">
          <button class="room-button modal-button" disabled>
            Make reservation
          </button>
          <a class="forgot mt-1" onclick="">See more details </a>
        </div>
      </div>
    </div>

    <div class="form-main admin-rooms-container">
      <form id="create-room-form" class="form1" role="form">
        <h2 class="profile-info-heading">Create room</h2>
        <div class="label-title">
          <label for="name">Room Name</label>
        </div>
        <div class="input-container">
          <input
            id="create-room-name"
            required=""
            name="name"
            class="form-field"
            type="text"
            value="Standard Room 23"
          />
        </div>

        <div class="form-2-fields">
          <div>
            <div class="label-title">
              <label for="night_price">Night price</label>
            </div>
            <div class="input-container">
              <input
                id="create-room-night-price"
                required=""
                name="night_price"
                class="form-field"
                type="number"
                value="50"
                min="1"
              />
            </div>
          </div>
          <div>
            <div class="label-title">
              <label for="image_link">Image Link</label>
            </div>
            <div class="input-container">
              <input
                id="create-room-image-link"
                required=""
                name="image_link"
                class="form-field"
                type="text"
                value="assets/img/room-1.png"
              />
            </div>
          </div>
        </div>
        <div class="label-title">
          <label for="name">Room Description</label>
        </div>
        <div class="input-container">
          <textarea
            id="create-room-description"
            required=""
            name="description"
            class="form-field"
            type="text"
            maxlength="145"
            style="min-height: 90px; max-width: 535px"
          >
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id hic repudiandae ut, fugit magni esse minima maiores doloribus possimus nam.</textarea
          >
        </div>

        <a
          id="edit-profile-submit"
          class="submit"
          onclick="Admin.setRoomPreviewInfo('create')"
        >
          Preview
        </a>

        <button id="create-room-submit" type="submit" class="submit">
          Submit
        </button>
      </form>
    </div>

    <div class="form-main admin-rooms-container">
      <form id="update-room-form" class="form1" role="form">
        <h2 class="profile-info-heading">Update room</h2>
        <div class="label-title">
          <label for="name">Room id</label>
        </div>
        <div class="input-container">
          <input
            id="update-room-id"
            required=""
            name="id"
            class="form-field"
            type="number"
            value="1"
          />
        </div>
        <a
          id="edit-profile-submit"
          class="submit"
          style="margin: 0; margin-bottom: 1rem"
          onclick="Admin.getRoomInfo()"
        >
          Get room info
        </a>
        <div class="label-title">
          <label for="name">Room Name</label>
        </div>
        <div class="input-container">
          <input
            id="update-room-name"
            required=""
            name="name"
            class="form-field"
            type="text"
            placeholder="Standard Room 123"
          />
        </div>

        <div class="form-2-fields">
          <div>
            <div class="label-title">
              <label for="night_price">Night price</label>
            </div>
            <div class="input-container">
              <input
                id="update-room-night-price"
                required=""
                name="night_price"
                class="form-field"
                type="number"
                placeholder="30"
                min="1"
              />
            </div>
          </div>
          <div>
            <div class="label-title">
              <label for="image_link">Image Link</label>
            </div>
            <div class="input-container">
              <input
                id="update-room-image-link"
                required=""
                name="image_link"
                class="form-field"
                type="text"
                placeholder="assets/img/room-1.png"
              />
            </div>
          </div>
        </div>
        <div class="label-title">
          <label for="name">Room Description</label>
        </div>
        <div class="input-container">
          <textarea
            id="update-room-description"
            required=""
            name="description"
            class="form-field"
            type="text"
            maxlength="145"
            style="min-height: 90px; max-width: 535px"
            placeholder="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id hic repudiandae ut, fugit magni esse minima maiores doloribus possimus nam."
          ></textarea>
        </div>

        <a
          id="edit-profile-submit"
          class="submit"
          onclick="Admin.setRoomPreviewInfo('update')"
        >
          Preview
        </a>

        <button id="create-room-submit" type="submit" class="submit">
          Submit
        </button>
      </form>
    </div>
  </div>

  <div id="user-reservations-table" class="section-table hidden">
    <div id="table-head">
      <h2 id="my-table-name">Reservations table</h2>
    </div>
  </div>
</div>

<!-- modal -->
<div id="profile-reservation-modal-overlay" class="modal-overlay">
  <div id="profile-reservation-modal" class="modal">
    <a class="close-modal" onclick="Admin.closeInfoModal()">
      <svg viewBox="0 0 20 20">
        <path
          fill="#000000"
          d="M15.898,4.045c-0.271-0.272-0.713-0.272-0.986,0l-4.71,4.711L5.493,4.045c-0.272-0.272-0.714-0.272-0.986,0s-0.272,0.714,0,0.986l4.709,4.711l-4.71,4.711c-0.272,0.271-0.272,0.713,0,0.986c0.136,0.136,0.314,0.203,0.492,0.203c0.179,0,0.357-0.067,0.493-0.203l4.711-4.711l4.71,4.711c0.137,0.136,0.314,0.203,0.494,0.203c0.178,0,0.355-0.067,0.492-0.203c0.273-0.273,0.273-0.715,0-0.986l-4.711-4.711l4.711-4.711C16.172,4.759,16.172,4.317,15.898,4.045z"
        ></path>
      </svg> </a
    ><!-- close modal -->

    <div class="modal-content">
      <h1 class="modal-heading">
        Reservation id: <span id="reservation-info-id"></span>
      </h1>
      <div id="reservation-form-container" class="">
        <form id="user-reservation-form" class="" role="form">
          <a
            id="admin-edit-reservation-details"
            class="forgot"
            onclick="Admin.enableReservationDetailsEditing()"
            >Edit info
            <ion-icon
              class="small-icon md hydrated"
              name="pencil-outline"
              role="img"
              aria-label="pencil outline"
            ></ion-icon
          ></a>
          <div class="label-title">
            <label for="room_name">Room name</label>
          </div>
          <div class="input-container">
            <input
              disabled=""
              id="profile-modal-room-name"
              required=""
              name="room_name"
              class="form-field"
              type="text"
              placeholder="Room 1"
            />
          </div>
          <input
            readonly
            hidden
            id="profile-modal-reservation-id"
            required=""
            name="reservation_id"
            class="form-field"
            type="number"
          />
          <input
            readonly
            hidden
            id="profile-modal-reservation-old-room-id"
            required=""
            name="old_room_id"
            class="form-field"
            type="number"
          />
          <div class="form-2-fields">
            <div>
              <div class="label-title">
                <label for="room_id">Room id</label>
              </div>
              <div class="input-container">
                <input
                  readonly="true"
                  id="profile-modal-room-id"
                  required=""
                  name="room_id"
                  class="form-field"
                  type="number"
                  placeholder="1"
                />
              </div>
            </div>
            <div>
              <div class="label-title">
                <label for="night_price">Room price</label>
              </div>
              <div class="input-container">
                <input
                  disabled
                  id="profile-modal-room-price"
                  required=""
                  name="night_price"
                  class="form-field"
                  type="text"
                  placeholder="50"
                />
              </div>
            </div>
          </div>
          <div class="form-2-fields">
            <div>
              <div class="label-title">
                <label for="check_in">Check-in</label>
              </div>
              <div class="input-container">
                <input
                  readonly="true"
                  id="profile-modal-room-check-in"
                  required=""
                  name="check_in"
                  class="form-field form-date"
                  type="date"
                />
              </div>
            </div>
            <div>
              <div class="label-title">
                <label for="check_out">Check-out</label>
              </div>
              <div class="input-container">
                <input
                  readonly="true"
                  id="profile-modal-room-check-out"
                  required=""
                  name="check_out"
                  class="form-field form-date"
                  type="date"
                />
              </div>
            </div>
          </div>
          <div class="form-2-fields">
            <div>
              <div class="label-title">
                <label for="adults">Adults</label>
              </div>
              <div class="input-container">
                <input
                  readonly="true"
                  id="profile-modal-room-adults"
                  required=""
                  name="adults"
                  class="form-field"
                  type="text"
                  placeholder="1"
                />
              </div>
            </div>
            <div>
              <div class="label-title">
                <label for="children">Children</label>
              </div>
              <div class="input-container">
                <input
                  readonly="true"
                  id="profile-modal-room-children"
                  required=""
                  name="children"
                  class="form-field"
                  type="text"
                  placeholder="1"
                />
              </div>
            </div>
          </div>

          <p style="font-size: 1.6rem; text-align: center; margin: 1rem">
            Total price:
            <span id="profile-modal-room-total-price" class="room-price"
              >$50.00</span
            >
          </p>
          <button
            id="admin-update-reservation-details"
            class="submit-disabled"
            type="submit"
            disabled
          >
            Update
          </button>
        </form>

        <form id="user-details-form" class="" role="form" hidden="">
          <div class="label-title">
            <label for="email">Email</label>
          </div>
          <div class="input-container">
            <input
              id="profile-modal-email"
              required=""
              name="email"
              class="form-field"
              type="email"
              placeholder="John.Doe@mail.com"
              readonly=""
            />
          </div>
          <div class="form-2-fields">
            <div>
              <div class="label-title">
                <label for="first_name">First name</label>
              </div>
              <div class="input-container">
                <input
                  id="profile-modal-first-name"
                  required=""
                  name="first_name"
                  class="form-field"
                  type="text"
                  placeholder="John"
                  minlength="2"
                  readonly=""
                />
              </div>
            </div>
            <div>
              <div class="label-title">
                <label for="last_name">Last name</label>
              </div>
              <div class="input-container">
                <input
                  id="profile-modal-last-name"
                  required=""
                  name="last_name"
                  class="form-field"
                  type="text"
                  placeholder="Doe"
                  minlength="2"
                  readonly=""
                />
              </div>
            </div>
          </div>
          <div class="form-2-fields">
            <div>
              <div class="label-title">
                <label for="phone_number">Phone number</label>
              </div>
              <div class="input-container">
                <input
                  id="profile-modal-phone-number"
                  required=""
                  name="phone_number"
                  class="form-field"
                  type="text"
                  placeholder="+387 60 000 000"
                  minlength="9"
                  maxlength="16"
                  readonly=""
                />
              </div>
            </div>
            <div>
              <div class="label-title">
                <label for="birth_date">Birth date</label>
              </div>
              <div class="input-container">
                <input
                  id="profile-modal-birth-date"
                  required=""
                  name="birth_date"
                  class="form-field form-date"
                  type="date"
                  min="1920-01-01"
                  max="2022-12-31"
                  readonly=""
                />
              </div>
            </div>
          </div>
          <div class="form-2-fields">
            <div>
              <div class="label-title">
                <label for="country">Country</label>
              </div>
              <div class="input-container">
                <input
                  id="profile-modal-country"
                  required=""
                  name="country"
                  class="form-field"
                  type="text"
                  placeholder="Croatia"
                  minlength="2"
                  readonly=""
                />
              </div>
            </div>
            <div>
              <div class="label-title">
                <label for="city">City</label>
              </div>
              <div class="input-container">
                <input
                  id="profile-modal-city"
                  required=""
                  name="city"
                  class="form-field"
                  type="text"
                  placeholder="Zagreb"
                  minlength="2"
                  readonly=""
                />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- content -->
  </div>
  <!-- modal -->
</div>
<!-- overlay -->

<script type="text/javascript">
  Admin.init();
</script>
