<section class="section-hero">
  <div class="hero">
    <p class="hero-subheading">Hotel & Resort</p>
    <h1 class="heading-primary">Welcome To Hotel Sea</h1>
    <a href="#homepage" class="btn btn--full">Discover More</a>
  </div>
</section>
<div class="container">
  <div id="home-filters" class="filters-container">
    <div>
      <div class="filters-wraper">
        <label class="mb-1rem" for="">Check in</label>
        <input class="filters-input" type="date" name="" id="" />
      </div>
    </div>
    <div>
      <div class="filters-wraper">
        <label class="mb-1rem" for="">Check out</label>
        <input class="filters-input" type="date" name="" id="" />
      </div>
    </div>

    <div class="filters-small-field-wrap">
      <div class="filters-wraper">
        <label class="mb-1rem" for="">Rooms</label>
        <input
          class="filters-input filters-small-input"
          type="number"
          name=""
          id=""
        />
      </div>
      <div class="filters-wraper">
        <label class="mb-1rem" for="">Adults</label>
        <input
          class="filters-input filters-small-input"
          type="number"
          name=""
          id=""
        />
      </div>
      <div class="filters-wraper">
        <label class="mb-1rem" for="">Children</label>
        <input
          class="filters-input filters-small-input"
          type="number"
          name=""
          id=""
        />
      </div>
    </div>

    <div class="filters-button-wrap">
      <a href="#rooms" class="filters-button"> Check avaliability </a>
    </div>
  </div>
</div>
<div class="main-home">
  <section class="section-about">
    <div class="container" id="about">
      <div class="container grid grid--2-cols grid--center-v">
        <!-- About us -->
        <div class="about-text-box">
          <p class="subheading">About us</p>
          <h3 class="heading-tertiary">Welcome to Hotel Sea Resort</h3>
          <p class="basic-description">
            The Hotel Sea is the rihgt choice for visitors who are searching for
            a combination of charm and a convenient position from where to
            explore surroundings.
          </p>
        </div>

        <div class="about-us-grid">
          <figure class="about-item">
            <img src="assets/img/home-imgs/06.png" alt="" />
          </figure>
          <figure class="about-item grid-span-2-rows">
            <img src="assets/img/home-imgs/05.png" alt="" />
          </figure>
          <figure class="about-item">
            <img src="assets/img/home-imgs/02.png" alt="" />
          </figure>
        </div>

        <div id="about-us-grid-2" class="about-us-grid">
          <figure class="about-item grid-span-2-rows">
            <img src="assets/img/home-imgs/03.png" alt="" />
          </figure>
          <figure class="about-item">
            <img src="assets/img/home-imgs/04.png" alt="" />
          </figure>
          <figure class="about-item">
            <img src="assets/img/home-imgs/01.png" alt="" />
          </figure>
        </div>

        <div class="about-text-box">
          <p class="subheading">More info</p>
          <h3 class="heading-tertiary">Three floors of Luxury</h3>
          <p class="basic-description">
            The rooms are arranged on the first, second and third floors. At top
            floor there is a charming terrace and solarium. You can also enjoy
            in beatuiful view from above.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
<script src="assets/js/controllers/home.js"></script>
<script>
  Home.init();
</script>
