        <div class="heading-background">
          <h1 id="profile-page-heading" class="page-heading">My Profile</h1>
        </div>
        
        <div class="container">
          <div class="profile-box">
            <div class="profile-options">
              <button id="my-profile-btn" class="profile-option-active" href onclick="showUserProfile()"> My profile</button>
              <button id="my-reservations-btn" class="profile-option-inactive" href onclick="showUserReservations()"> My Reservations</p>
          </div>
          
          <div id="user-profile-form-container" class="form-main">
     
            <form id="register-form" class="form1" role="form">
              <div class="label-title">
                <label for="email">Email</label>
              </div>
              <div class="input-container">
                <input
                  required=""
                  name="email"
                  class="form-field"
                  type="email"
                  placeholder="John.Doe@mail.com"
                />
              </div>
              <div class="label-title">
                <label for="password">Password</label>
              </div>
              <div class="input-container">
                <input
                  required=""
                  minlength="8"
                  maxlength="255"
                  name="password"
                  class="form-field"
                  type="password"
                  placeholder="Password"
                />
              </div>
              <div class="form-2-fields">
                <div>
                  <div class="label-title">
                    <label for="first_name">First name</label>
                  </div>
                  <div class="input-container">
                    <input
                      required=""
                      name="first_name"
                      class="form-field"
                      type="text"
                      placeholder="John"
                      minlength="2"
                    />
                  </div>
                </div>
                <div>
                  <div class="label-title">
                    <label for="last_name">Last name</label>
                  </div>
                  <div class="input-container">
                    <input
                      required=""
                      name="last_name"
                      class="form-field"
                      type="text"
                      placeholder="Doe"
                      minlength="2"
                    />
                  </div>
                </div>
              </div>
              <div class="form-2-fields">
                <div>
                  <div class="label-title">
                    <label for="phone_number">Phone number</label>
                  </div>
                  <div class="input-container">
                    <input
                      required=""
                      name="phone_number"
                      class="form-field"
                      type="text"
                      placeholder="+387 60 000 000"
                      minlength="9"
                      maxlength="16"
                    />
                  </div>
                </div>
                <div>
                  <div class="label-title">
                    <label for="birth_date">Birth date</label>
                  </div>
                  <div class="input-container">
                    <input
                      id="birth_date"
                      required=""
                      name="birth_date"
                      class="form-field form-date"
                      type="date"
                      min="1920-01-01"
                      max="2022-12-31"
                    />
                  </div>
                </div>
              </div>
              <div class="form-2-fields">
                <div>
                  <div class="label-title">
                    <label for="country">Country</label>
                  </div>
                  <div class="input-container">
                    <input
                      required=""
                      name="country"
                      class="form-field"
                      type="text"
                      placeholder="Croatia"
                      minlength="2"
                    />
                  </div>
                </div>
                <div>
                  <div class="label-title">
                    <label for="city">City</label>
                  </div>
                  <div class="input-container">
                    <input
                      required=""
                      name="city"
                      class="form-field"
                      type="text"
                      placeholder="Zagreb"
                      minlength="2"
                    />
                  </div>
                </div>
              </div>
  
              <button type="submit" class="submit">Submit</button>
             
            </form>
          </div>
        </div>
        
          <div id="user-reservations-table" class="section-table hidden">
            <div id="table-head">
              <h2 id="my-table-name">Reservations table</h2>
              <div class="my-table-function-wrap">
                <p id="my-table-function">Add reservation</p>
                <ion-icon class="small-icon" name="add-outline"></ion-icon>
              </div>
            </div>
           
            <table id="myTable">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Guest ID</th>
                  <th>Room ID</th>
                  <th>Date of reservation</th>
                  <th>Check-in date</th>
                  <th>Check-out date</th>
                </tr>
              </thead>
      
              <tbody>
                <tr>
                
                <th> <ion-icon class="small-icon" name="pencil-outline"></ion-icon> 1 </th>
                  <td>100</td>
                  <td>500</td>
                  <td>22/04/2022</td>
                  <td>25/04/2022</td>
                  <td>29/04/2022</td>
                </tr>
                <tr>
                  <th><ion-icon class="small-icon" name="pencil-outline"></ion-icon>2</th>
                  <td>101</td>
                  <td>500</td>
                  <td>22/04/2022</td>
                  <td>22/04/2022</td>
                  <td>22/04/2022</td>
                </tr>
                <tr>
                  <th><ion-icon class="small-icon" name="pencil-outline"></ion-icon>3</th>
                  <td>102</td>
                  <td>500</td>
                  <td>22/04/2022</td>
                  <td>22/04/2022</td>
                  <td>22/04/2022</td>
                </tr>
                <tr>
                  <th><ion-icon class="small-icon" name="pencil-outline"></ion-icon>4</th>
                  <td>103</td>
                  <td>500</td>
                  <td>22/04/2022</td>
                  <td>22/04/2022</td>
                  <td>22/04/2022</td>
                </tr>
                <tr>
                
                <th> <ion-icon class="small-icon" name="pencil-outline"></ion-icon> 1 </th>
                  <td>100</td>
                  <td>500</td>
                  <td>22/04/2022</td>
                  <td>25/04/2022</td>
                  <td>29/04/2022</td>
                </tr>
                <tr>
                  <th><ion-icon class="small-icon" name="pencil-outline"></ion-icon>2</th>
                  <td>101</td>
                  <td>500</td>
                  <td>22/04/2022</td>
                  <td>22/04/2022</td>
                  <td>22/04/2022</td>
                </tr>
                <tr>
                  <th><ion-icon class="small-icon" name="pencil-outline"></ion-icon>3</th>
                  <td>102</td>
                  <td>500</td>
                  <td>22/04/2022</td>
                  <td>22/04/2022</td>
                  <td>22/04/2022</td>
                </tr>
                <tr>
                  <th><ion-icon class="small-icon" name="pencil-outline"></ion-icon>4</th>
                  <td>103</td>
                  <td>500</td>
                  <td>22/04/2022</td>
                  <td>22/04/2022</td>
                  <td>22/04/2022</td>
                </tr>
                <tr>
                
                <th> <ion-icon class="small-icon" name="pencil-outline"></ion-icon> 1 </th>
                  <td>100</td>
                  <td>500</td>
                  <td>22/04/2022</td>
                  <td>25/04/2022</td>
                  <td>29/04/2022</td>
                </tr>
                <tr>
                  <th><ion-icon class="small-icon" name="pencil-outline"></ion-icon>2</th>
                  <td>101</td>
                  <td>500</td>
                  <td>22/04/2022</td>
                  <td>22/04/2022</td>
                  <td>22/04/2022</td>
                </tr>
                <tr>
                  <th><ion-icon class="small-icon" name="pencil-outline"></ion-icon>3</th>
                  <td>102</td>
                  <td>500</td>
                  <td>22/04/2022</td>
                  <td>22/04/2022</td>
                  <td>22/04/2022</td>
                </tr>
                <tr>
                  <th><ion-icon class="small-icon" name="pencil-outline"></ion-icon>4</th>
                  <td>103</td>
                  <td>500</td>
                  <td>22/04/2022</td>
                  <td>22/04/2022</td>
                  <td>22/04/2022</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
          



      
    
        <script>
          
          $(document).ready(function () {
            $("#myTable").DataTable();
        $("#myTable_filter").remove();
        $("#myTable_wrapper").prepend($("#table-head"));
        $("#table-head").prepend($("#myTable_length"));
      });
      

    </script>


