<div class="heading-background">
  <h1 class="page-heading">Rooms</h1>
</div>

<div class="rooms-main-container">
  <div class="filters-container">
    <div>
      <div class="filters-wraper">
        <label class="mb-1rem" for="">Check in</label>
        <input class="filters-input" type="date" name="" id="" />
      </div>
    </div>
    <div>
      <div class="filters-wraper">
        <label class="mb-1rem" for="">Check out</label>
        <input class="filters-input" type="date" name="" id="" />
      </div>
    </div>

    <div class="filters-small-field-wrap">
      <div class="filters-wraper">
        <label class="mb-1rem" for="">Rooms</label>
        <input
          class="filters-input filters-small-input"
          type="number"
          name=""
          id=""
        />
      </div>
      <div class="filters-wraper">
        <label class="mb-1rem" for="">Adults</label>
        <input
          class="filters-input filters-small-input"
          type="number"
          name=""
          id=""
        />
      </div>
      <div class="filters-wraper">
        <label class="mb-1rem" for="">Children</label>
        <input
          class="filters-input filters-small-input"
          type="number"
          name=""
          id=""
        />
      </div>
    </div>

    <div class="filters-button-wrap">
      <button class="filters-button">Check avaliability</button>
    </div>
  </div>
  <section class="section-rooms">
    <div class="rooms-grid-temp grid grid--center-v row-gap-6-rem">
      <!-- Rooms -->
      <div class="room-container">
        <figure class="room-figure">
          <img alt="" src="assets/img/room-1.png" />
        </figure>
        <div class="room-main">
          <div class="room-main-info">
            <div class="room-head">
              <h2>Standard Room</h2>
              <p>From $99/night</p>
            </div>
            <p class="room-description">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id hic
              repudiandae ut, fugit magni esse minima maiores doloribus possimus
              nam.
            </p>
            <div class="room-services">
              <div class="room-service">
                <ion-icon
                  name="wifi-outline"
                  role="img"
                  class="md hydrated"
                  aria-label="wifi outline"
                ></ion-icon>
                <p class="room-service-name">Wifi</p>
              </div>
              <div class="room-service">
                <ion-icon
                  name="fast-food-outline"
                  role="img"
                  class="md hydrated"
                  aria-label="fast food outline"
                ></ion-icon>
                <p class="room-service-name">Breakfast</p>
              </div>
              <div class="room-service">
                <ion-icon
                  name="car-sport-outline"
                  role="img"
                  class="md hydrated"
                  aria-label="car sport outline"
                ></ion-icon>
                <p class="room-service-name">Parking</p>
              </div>
              <div class="room-service">
                <ion-icon
                  name="desktop-outline"
                  role="img"
                  class="md hydrated"
                  aria-label="desktop outline"
                ></ion-icon>
                <p class="room-service-name">TV</p>
              </div>
              <div class="room-service">
                <ion-icon
                  name="paw-outline"
                  role="img"
                  class="md hydrated"
                  aria-label="paw outline"
                ></ion-icon>
                <p class="room-service-name">Pet free</p>
              </div>
              <div class="room-service">
                <ion-icon
                  name="barbell-outline"
                  role="img"
                  class="md hydrated"
                  aria-label="barbell outline"
                ></ion-icon>
                <p class="room-service-name">Gym</p>
              </div>
            </div>
          </div>

          <div class="flex-col-center">
            <button class="room-button">Make reservation</button>
            <a class="forgot mt-1" onclick="">See more details </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="pagination-wrap">
    <div class="pagination">
      <button id="back-btn" class="pagination-btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="pagination-btn-icon"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 19l-7-7 7-7"
          ></path>
        </svg>
      </button>
      <a href="#" class="page-link">1</a>
      <a href="#" class="page-link">2</a>
      <a href="#" class="page-link page-link--current">3</a>
      <a href="#" class="page-link">4</a>
      <a href="#" class="page-link">5</a>
      <a href="#" class="page-link">6</a>
      <span class="dots">...</span>
      <a href="#" class="page-link">23</a>
      <button id="forward-btn" class="pagination-btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="pagination-btn-icon"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"
          ></path>
        </svg>
      </button>
    </div>
  </div>
</div>
