<div class="heading-background">
  <h1 class="page-heading">Rooms</h1>
</div>

<div class="rooms-main-container">
  <div class="filters-container">
    <div>
      <div class="filters-wraper">
        <label class="mb-1rem" for="">Check in</label>
        <input class="filters-input" type="date" name="check_in" id="" />
      </div>
    </div>
    <div>
      <div class="filters-wraper">
        <label class="mb-1rem" for="">Check out</label>
        <input class="filters-input" type="date" name="check_out" id="" />
      </div>
    </div>

    <div class="filters-small-field-wrap">
      <div class="filters-wraper">
        <label class="mb-1rem" for="">Rooms</label>
        <input
          class="filters-input filters-small-input"
          type="number"
          name="rooms"
          id=""
        />
      </div>
      <div class="filters-wraper">
        <label class="mb-1rem" for="">Adults</label>
        <input
          class="filters-input filters-small-input"
          type="number"
          name="adults"
          id=""
        />
      </div>
      <div class="filters-wraper">
        <label class="mb-1rem" for="">Children</label>
        <input
          class="filters-input filters-small-input"
          type="number"
          name="children"
          id=""
        />
      </div>
    </div>

    <div class="filters-button-wrap">
      <button class="filters-button">Check avaliability</button>
    </div>
  </div>
  <section class="section-rooms">
    <div
      id="rooms-box"
      class="rooms-grid-temp grid grid--center-v row-gap-6-rem"
    >
      <!-- Rooms -->
    </div>
  </section>
  <div class="pagination-wrap">
    <div class="pagination">
      <button id="back-btn" class="pagination-btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="pagination-btn-icon"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 19l-7-7 7-7"
          ></path>
        </svg>
      </button>
      <a href="#" class="page-link">1</a>
      <a href="#" class="page-link">2</a>
      <a href="#" class="page-link page-link--current">3</a>
      <a href="#" class="page-link">4</a>
      <a href="#" class="page-link">5</a>
      <a href="#" class="page-link">6</a>
      <span class="dots">...</span>
      <a href="#" class="page-link">23</a>
      <button id="forward-btn" class="pagination-btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="pagination-btn-icon"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"
          ></path>
        </svg>
      </button>
    </div>
  </div>
</div>

<script>
  Rooms.init();
</script>
