<div class="heading-background">
  <h1 class="page-heading">Rooms</h1>
</div>

<div class="rooms-main-container">
  <div class="filters-container">
    <div>
      <div class="filters-wraper">
        <label class="mb-1rem" for="">Check in</label>
        <input
          id="reservations-check-in"
          class="filters-input"
          type="date"
          name="check_in"
        />
      </div>
    </div>
    <div>
      <div class="filters-wraper">
        <label class="mb-1rem" for="">Check out</label>
        <input
          id="reservations-check-out"
          class="filters-input"
          type="date"
          name="check_out"
        />
      </div>
    </div>

    <div class="filters-small-field-wrap">
      <div class="filters-wraper">
        <label class="mb-1rem" for="">Rooms</label>
        <input
          class="filters-input filters-small-input"
          type="text"
          name="rooms"
          id="reservations-rooms"
        />
      </div>
      <div class="filters-wraper">
        <label class="mb-1rem" for="">Adults</label>
        <input
          class="filters-input filters-small-input"
          type="text"
          name="adults"
          id="reservations-adults"
        />
      </div>
      <div class="filters-wraper">
        <label class="mb-1rem" for="">Children</label>
        <input
          class="filters-input filters-small-input"
          type="text"
          name="children"
          id="reservations-children"
        />
      </div>
    </div>

    <div class="filters-button-wrap">
      <button
        id="reservations-button"
        onclick="Rooms.get_avaliable_rooms()"
        class="filters-button"
      >
        Check avaliability
      </button>
    </div>
  </div>
  <section class="section-rooms">
    <div
      id="rooms-box"
      class="rooms-grid-temp grid grid--center-v row-gap-6-rem"
    >
      <!-- Rooms -->
    </div>
  </section>
  <div class="pagination-wrap">
    <div class="pagination">
      <button id="back-btn" class="pagination-btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="pagination-btn-icon"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 19l-7-7 7-7"
          ></path>
        </svg>
      </button>
      <a href="#" class="page-link">1</a>
      <a href="#" class="page-link">2</a>
      <a href="#" class="page-link page-link--current">3</a>
      <a href="#" class="page-link">4</a>
      <a href="#" class="page-link">5</a>
      <a href="#" class="page-link">6</a>
      <span class="dots">...</span>
      <a href="#" class="page-link">23</a>
      <button id="forward-btn" class="pagination-btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="pagination-btn-icon"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"
          ></path>
        </svg>
      </button>
    </div>
  </div>
</div>
<!-- modal -->
<div class="modal-overlay">
  <div class="modal">
    <a class="close-modal" onclick="Rooms.closeModal()">
      <svg viewBox="0 0 20 20">
        <path
          fill="#000000"
          d="M15.898,4.045c-0.271-0.272-0.713-0.272-0.986,0l-4.71,4.711L5.493,4.045c-0.272-0.272-0.714-0.272-0.986,0s-0.272,0.714,0,0.986l4.709,4.711l-4.71,4.711c-0.272,0.271-0.272,0.713,0,0.986c0.136,0.136,0.314,0.203,0.492,0.203c0.179,0,0.357-0.067,0.493-0.203l4.711-4.711l4.71,4.711c0.137,0.136,0.314,0.203,0.494,0.203c0.178,0,0.355-0.067,0.492-0.203c0.273-0.273,0.273-0.715,0-0.986l-4.711-4.711l4.711-4.711C16.172,4.759,16.172,4.317,15.898,4.045z"
        ></path>
      </svg> </a
    ><!-- close modal -->

    <div class="modal-content">
      <h1 class="modal-heading">Reservation</h1>
      <p class="modal-text">Please fill in your info</p>
      <div id="reservation-form-container" class="">
        <form id="room-form" class="" role="form">
          <div class="label-title">
            <label for="room_name">Room name</label>
          </div>
          <div class="input-container">
            <input
              disabled=""
              id="modal-room-name"
              required=""
              name="room_name"
              class="form-field"
              type="text"
              placeholder="Room 1"
            />
          </div>
          <div class="form-2-fields">
            <div>
              <div class="label-title">
                <label for="room_id">Room id</label>
              </div>
              <div class="input-container">
                <input
                  readonly="true"
                  id="modal-room-id"
                  required=""
                  name="room_id"
                  class="form-field"
                  type="text"
                  placeholder="1"
                />
              </div>
            </div>
            <div>
              <div class="label-title">
                <label for="room_price">Room price</label>
              </div>
              <div class="input-container">
                <input
                  disabled=""
                  id="modal-room-price"
                  required=""
                  name="room_price"
                  class="form-field"
                  type="text"
                  placeholder="50"
                />
              </div>
            </div>
          </div>
          <div class="form-2-fields">
            <div>
              <div class="label-title">
                <label for="check_in">Check-in</label>
              </div>
              <div class="input-container">
                <input
                  readonly="true"
                  id="modal-room-check-in"
                  required=""
                  name="check_in"
                  class="form-field form-date"
                  type="date"
                />
              </div>
            </div>
            <div>
              <div class="label-title">
                <label for="check_out">Check-out</label>
              </div>
              <div class="input-container">
                <input
                  readonly="true"
                  id="modal-room-check-out"
                  required=""
                  name="check_out"
                  class="form-field form-date"
                  type="date"
                />
              </div>
            </div>
          </div>
          <div class="form-2-fields">
            <div>
              <div class="label-title">
                <label for="adults">Adults</label>
              </div>
              <div class="input-container">
                <input
                  readonly="true"
                  id="modal-room-adults"
                  required=""
                  name="adults"
                  class="form-field"
                  type="text"
                  placeholder="1"
                />
              </div>
            </div>
            <div>
              <div class="label-title">
                <label for="children">Children</label>
              </div>
              <div class="input-container">
                <input
                  readonly="true"
                  id="modal-room-children"
                  required=""
                  name="children"
                  class="form-field"
                  type="text"
                  placeholder="1"
                />
              </div>
            </div>
          </div>

          <p style="font-size: 1.6rem; text-align: center; margin-bottom: 1rem">
            Total price:
            <span id="room-total-price" class="room-price">$693.00</span>
          </p>
          <a
            id="reservation-link"
            onclick="Rooms.openUserInfoForm()"
            class="submit"
          >
            Proceed
          </a>
        </form>

        <form id="reservation-form" class="" role="form" hidden>
          <div class="label-title">
            <label for="email">Email</label>
          </div>
          <div class="input-container">
            <input
              id="modal-email"
              required=""
              name="email"
              class="form-field"
              type="email"
              placeholder="John.Doe@mail.com"
            />
          </div>
          <div class="form-2-fields">
            <div>
              <div class="label-title">
                <label for="first_name">First name</label>
              </div>
              <div class="input-container">
                <input
                  id="modal-first-name"
                  required=""
                  name="first_name"
                  class="form-field"
                  type="text"
                  placeholder="John"
                  minlength="2"
                />
              </div>
            </div>
            <div>
              <div class="label-title">
                <label for="last_name">Last name</label>
              </div>
              <div class="input-container">
                <input
                  id="modal-last-name"
                  required=""
                  name="last_name"
                  class="form-field"
                  type="text"
                  placeholder="Doe"
                  minlength="2"
                />
              </div>
            </div>
          </div>
          <div class="form-2-fields">
            <div>
              <div class="label-title">
                <label for="phone_number">Phone number</label>
              </div>
              <div class="input-container">
                <input
                  id="modal-phone-number"
                  required=""
                  name="phone_number"
                  class="form-field"
                  type="text"
                  placeholder="+387 60 000 000"
                  minlength="9"
                  maxlength="16"
                />
              </div>
            </div>
            <div>
              <div class="label-title">
                <label for="birth_date">Birth date</label>
              </div>
              <div class="input-container">
                <input
                  id="modal-birth-date"
                  required=""
                  name="birth_date"
                  class="form-field form-date"
                  type="date"
                  min="1920-01-01"
                  max="2022-12-31"
                />
              </div>
            </div>
          </div>
          <div class="form-2-fields">
            <div>
              <div class="label-title">
                <label for="country">Country</label>
              </div>
              <div class="input-container">
                <input
                  id="modal-country"
                  required=""
                  name="country"
                  class="form-field"
                  type="text"
                  placeholder="Croatia"
                  minlength="2"
                />
              </div>
            </div>
            <div>
              <div class="label-title">
                <label for="city">City</label>
              </div>
              <div class="input-container">
                <input
                  id="modal-city"
                  required=""
                  name="city"
                  class="form-field"
                  type="text"
                  placeholder="Zagreb"
                  minlength="2"
                />
              </div>
            </div>
          </div>

          <div id="checkbox-label" class="modal-label-div">
            <label for="profile-info">Use info from my account</label>
            <input
              class="modal-checkbox"
              type="checkbox"
              name="profile-info"
              id="profile-info-box"
              value="no"
              onclick="Rooms.getUserInfo()"
            />
          </div>

          <button id="reservation-link" type="submit" class="submit">
            Make reservation
          </button>
          <a
            class="reservation-forgot forgot"
            onclick="Rooms.openReservationRoomInfo()"
            >Go back to reservation info
          </a>
        </form>
      </div>
    </div>
    <!-- content -->
  </div>
  <!-- modal -->
</div>
<!-- overlay -->

<script>
  Rooms.init();
</script>
