.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 8rem;
  padding: 0 4.8rem;
  position: relative;
}

.heading-background {
  background-image: url("../../assets/img/page-background.jpg");
  background-size: cover;
  padding: 8rem 0;
  margin-bottom: 4rem;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.page-heading {
  font-size: 6.4rem;
  color: #fff;
  font-weight: 600;
  text-align: center;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.bg-color {
  background-color: #f5f6fa !important;
}

/**************************/
/* FILTERS CONTAINER */
/**************************/

.filters-container {
  display: grid;
  max-width: 130rem;
  background-color: #fff;
  box-shadow: 0 0.6rem 2.4rem rgba(0, 0, 0, 0.075);
  margin-bottom: 4rem;
  padding: 4rem 5rem;
  border-radius: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.filters-wraper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.filters-input {
  height: 100%;
  width: 100%;
  background-color: rgb(247, 247, 247);
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 1px;
  padding: 1.4rem;
  border-radius: 10px;
  outline: none;
  border: 1.8px solid rgba(0, 0, 0, 0.08);
  font-family: Poppins, sans-serif;
}

.filters-input:focus {
  border: 1.8px solid #1cc3b2 !important;
  transition: 0.5s ease-out;
  box-shadow: none;
}

.filters-small-field-wrap {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.filters-small-input {
  max-width: 9rem;
}

.filters-button-wrap {
  display: flex;
  align-items: end;
}

.filters-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 5.6rem;
  min-width: 140px;
  background-color: rgb(28, 195, 178);
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.1;
  padding: 1.4rem;
  border-radius: 10px;
  border: 1.8px solid rgba(0, 0, 0, 0);
  outline: none;
  cursor: pointer;
}

.mb-1rem {
  margin-bottom: 1rem;
}

/**************************/
/* ROOM CARD */
/**************************/

.room-price {
  color: #2a303b;
  font-size: 2.4rem;
  font-weight: 700;
  border-bottom: 0.6rem solid #1cc3b2;
  border-radius: 0.2em;
  background: linear-gradient(
    -180deg,
    rgba(0, 0, 0, 0.09) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  padding: 0.2rem 0.4rem;
}

.room-figure {
  overflow: hidden;
  height: 100%;
}

.room-figure img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.6s ease-out;
}

.room-figure img:hover {
  transform: scale(1.1);
  transition: 0.6s ease-out;
}

.section-rooms {
  margin: 6rem 0 4rem 0;
}

.rooms-list:last-child {
  margin-bottom: 8rem;
}

.room-card {
  display: flex;
  width: 100%;
  height: 45rem;
  background-color: #fff;
  box-shadow: 0 0.6rem 2.4rem rgba(0, 0, 0, 0.075);
  border-radius: 10px;
  margin-bottom: 6rem;
  overflow: hidden;
}

.room-img-conatiner {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.room-img-conatiner > img {
  height: inherit;
  transition: 0.6s ease-out;
}

.room-img-conatiner > img:hover {
  transform: scale(1.1);
  transition: 0.6s ease-out;
}

.rooms-main-container {
  margin: 0 auto;
  margin-bottom: 0px;
  max-width: 120rem;
  padding: 0 3.2rem;
}

.room-main {
  padding: 4rem;
  width: 100%;
}

.room-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0.6rem 2.4rem rgba(0, 0, 0, 0.075);
}

.room-figure2 {
  overflow: hidden;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mt-1 {
  margin-top: 1rem;
}

.room-style {
  gap: 4rem;
  background-color: #fff;
  box-shadow: 0 0.6rem 2.4rem rgba(0, 0, 0, 0.075);
  border-radius: 10px;
  overflow: hidden;
}

.room-style2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0.6rem 2.4rem rgba(0, 0, 0, 0.075);
  border-radius: 10px;
  overflow: hidden;
}

.room-head {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.room-head h2 {
  font-size: 3.6rem;
  font-weight: 400;
  margin-bottom: 3.8rem;
}

.room-main p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
}

.room-description {
  font-size: 1.6rem !important;
  margin-bottom: 4.6rem;
  line-height: 1.4;
}

.room-services {
  display: grid;
  gap: 20px;
  width: 100%;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 3.8rem;
}

.room-services ion-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2a303b;
  height: 3.2rem;
  width: 3.2rem;
  background-color: rgba(226, 229, 239, 0.75);
  padding: 1rem;
  margin-bottom: 1.2rem;
  border-radius: 10px;
}

.room-service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.room-service p {
  font-size: 1.2rem;
  text-align: center;
}

.room-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 4.6rem;
  min-width: 140px;
  background-color: rgb(28, 195, 178);
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.1;
  padding: 1.4rem;
  border-radius: 10px;
  border: 1.8px solid rgba(0, 0, 0, 0);
  outline: none;
  cursor: pointer;
}

/**************************/
/* PAGINATION */
/**************************/

.pagination-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  width: fit-content;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  margin-bottom: 4rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  grid-template-columns: repeat(10, 1fr);
}

.pagination-btn {
  border: none;
  box-shadow: 0 0.6rem 2.4rem rgba(0, 0, 0, 0.015);
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 1rem;
  background-color: #454c58;
  box-shadow: 0 0.6rem 2.4rem rgba(0, 0, 0, 0.075);
  cursor: pointer;
}

.pagination-btn:hover {
  background-color: #2a303b;
  transition: 0.2s ease-out;
}

.pagination-btn:hover .pagination-btn-icon {
  stroke: #fff;
}

.pagination-btn-icon {
  height: 2.4rem;
  width: 2.4rem;
  stroke: #fff;
}

.page-link:link,
.page-link:visited {
  font-size: 1.8rem;
  background-color: #d5d7dfb0;
  color: #2a303b;
  text-decoration: none;
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-link:hover,
.page-link:active {
  background-color: #2a303b;
  color: #fff;
  box-shadow: 0 0.6rem 2.4rem rgba(0, 0, 0, 0.15);
  transition: 0.2s ease-in;
}

.page-link.page-link--current {
  background-color: rgb(28, 195, 178);
  color: #fff;
  transition: 0.2s ease-in;
}

.dots {
  color: #2a303b;
  font-size: 1.8rem;
  text-align: center;
}

/**************************/
/* NAVIGATION */
/**************************/

.logo {
  display: inline-block;
  color: #2a303b;
  font-size: 2.6rem;
  font-weight: 500;
  text-shadow: 0px 3px 5px rgba(28, 195, 178, 0.2);
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.6rem;
  transition: all 0.3s;
  color: #2a303b;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #1cc3b2;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #1cc3b2;
}

.main-nav-link.nav-cta:hover,
.filters-button:hover,
.room-button:hover,
.main-nav-link.nav-cta:active {
  background-color: #20a799;
  transition: all 0.3s;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}
/**************************/
/* ABOUT SECTION */
/**************************/

.section-about {
  max-width: 192rem;
  min-height: 85rem;
}

.about-item {
  overflow: hidden;
  border-radius: 1rem;
}

.about-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.6s ease-out;
}

.about-item img:hover {
  transform: scale(1.1);
  transition: 0.6s ease-out;
}

/**************************/
/* FORM SECTION */
/**************************/

.section-form {
  background-image: url("../../assets/img/login-background.jpg");
  max-width: 192rem;
  min-height: 85rem;
  background-size: 192rem 120rem;
  padding: 6rem 0;
}

.section-form .login-form-container {
  padding: 9.6rem 0;
}

.sticky {
  background: url(https://www.toptal.com/designers/subtlepatterns/uploads/white_wall_hash.png);
  background-color: rgb(251, 252, 255);
}

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-form,
.sticky main .heading-background {
  margin-top: 8rem;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/**************************/
/* FORM */
/**************************/

.form-logo {
  display: inline-block;
  color: #2a303b;
  font-size: 3.6rem;
  font-weight: 500;

  text-shadow: 0px 3px 5px rgba(28, 195, 178, 0.2);
}

.form-logo span,
.logo span {
  color: #1cc3b2;
}

.form-main {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffffff;
  max-width: 70rem;
  margin: 2rem auto;
  border-radius: 1rem;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.1);
  line-height: normal;
  position: relative;
}

.form-heading {
  text-align: center;
}

.form-subheading {
  text-align: center;
  color: #212529;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2rem;
}

form.form1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 82%;
}

.form-2-fields {
  width: 100%;
  display: flex;
  column-gap: 2rem;
}

div.form-2-fields > * {
  width: 50%;
}

.input-container {
  margin-bottom: 2rem;
  width: 100%;
  border-radius: 10px;
  background-color: rgb(247, 247, 247);
  border: 1.8px solid rgba(0, 0, 0, 0.08);
}

.input-container:focus-within {
  border: 1.8px solid #1cc3b2 !important;
  transition: 0.5s ease-out;
}

.form-field {
  width: 100%;
  color: rgb(38, 50, 56);
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 1px;
  padding: 1.4rem 0;
  border-radius: 10px;
  outline: none;
  box-sizing: border-box;
  border: 0px solid rgba(0, 0, 0, 0);
  text-align: center;
  font-family: "Poppins", sans-serif;
  background-color: inherit;
  box-shadow: none;
}

.form-field::placeholder {
  color: #636a76;
}

.submit,
.submit-disabled {
  width: 100%;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 10px;
  color: #fff;
  background: #1cc3b2;
  text-align: center;
  border: 0;
  padding: 1.4rem 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.4rem;
}

.submit-disabled {
  background-color: #818181;
  cursor: auto;
}

.submit:hover {
  background: #20a799;
  transition: 0.3s ease-in;
}

.forgot:link,
.forgot:visited {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  text-decoration: underline;
  font-size: 1.2rem;
  color: #7a7a7a;
}
.forgot:hover,
.forgot:active {
  color: #1cc3b2;
  transition: 0.3s ease-in;
}

.form-links {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 2.4rem;
  padding-bottom: 0.6rem;
}

.reservation-forgot {
  text-align: center;
  display: block;
  margin-top: 1rem;
}

.forgot.font-size-inherit {
  font-size: inherit;
}

.forgot {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  text-decoration: underline;
  font-size: 1.2rem;
  color: #7a7a7a;
  cursor: pointer;
}

.label-title {
  margin-bottom: 0.6rem;
  text-align: center;
}

.hidden {
  display: none !important;
}

.hero {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-home {
  padding-bottom: 12rem;
}

#home-filters {
  transform: translateY(-50%);
}

.profile-box {
  margin-bottom: 4rem;
}

#edit-profile {
  display: flex;
  position: absolute;
  top: 3rem;
  right: 1.6rem;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.profile-info-heading {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: #2a303b;
}

.profile-options {
  padding: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  max-width: 70rem;
  margin: 2rem auto;
  border-radius: 1rem;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.1);
  line-height: normal;
}

.profile-option-active,
.profile-option-inactive {
  font-family: Poppins, sans-serif;
  font-size: 1.4rem;
  padding: 1rem;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  border: none;
}

.profile-option-active {
  background-color: #1cc3b2;
  color: #fff;
}

.profile-option-active:hover {
  background-color: #20a799;
  transition: 0.3s ease-in;
}

.profile-option-inactive {
  color: #212529;
}

.profile-option-inactive:hover {
  background-color: rgba(226, 229, 239, 0.75);
  color: #212529;
  transition: 0.3s ease-in;
}

label[id$="-error"] {
  position: relative;
  display: block;
  background-color: #df4857;
  padding: 0.25rem;
  color: #fff;
  font-size: 12px;
  text-align: center;
  border-top: 1.8px solid #c31c1c;
  border-radius: 0 0 0.7rem 0.7rem;
}

a {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #7a7a7a;
  text-decoration: none;
}

label {
  color: #212529;
  font-size: 1.4rem;
}

@media (max-width: 600px) {
  .form-main {
    border-radius: 0px;
  }
}
