th {
  text-align: center !important;
  font-weight: 500 !important;
}

td {
  text-align: center !important;
}

thead {
  background-color: #2a303b;
  color: #fff;
  font-weight: 400;
}

tbody > tr > th {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.myTable_wrapper {
  display: flex;
}

.my-table-function-wrap {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 1rem;
  border-radius: 500px;
  border: 1px solid white;
}

.my-table-function-wrap:link,
.my-table-function-wrap:visited,
.my-table-function-wrap:hover,
.my-table-function-wrap:active {
  background-color: rgba(226, 229, 239, 0.75);
  box-shadow: 0 0.2rem 2.4rem rgba(0, 0, 0, 0.045);
  transition: 0.5s ease-in;
  cursor: pointer;
}

.small-icon {
  padding: 0.5rem;
  background: rgba(226, 229, 239, 0.95);
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
}

table {
  font-size: 1.3rem;
  font-weight: 400;
  background-color: #fff !important;
  border-radius: 10px;
  overflow: hidden;
  border-collapse: collapse;
}

.section-table {
  border-radius: 10px;
  background-color: #fff;
  padding: 3.2rem;
  box-shadow: 0 0.6rem 2.4rem rgba(0, 0, 0, 0.075);
  margin: 4rem 0;
}

table tbody tr:last-child td,
table tbody tr:last-child th {
  border-bottom: none;
}

table *:focus {
  box-shadow: none;
  background: #545e70;
}

th,
td {
  /* border: 1px solid #343a40; */
  height: 5rem;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#table-head {
  /*! padding: 0 1.6em; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  padding-top: 0;
  font-size: 1.4rem;
}

#my-table-name,
#my-table-function {
  display: inline-block;
}

#my-table-name {
  font-size: 1.8rem;
  font-weight: 500;
}
#my-table-function {
  font-size: 1.4rem;
  padding-left: 2rem;
  padding-right: 1rem;
  cursor: pointer;
}

select {
  font-family: "Poppins", sans-serif;
}
